@charset "UTF-8";

/* Box sizing rules */

/* Указываем box sizing */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */

/* Убираем внутренние отступы */

ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */

/* Убираем внешние отступы */

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */

html {
  scroll-behavior: smooth;
}

/* Set core body defaults */

/* Выставляем основные настройки по-умолчанию для body */

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/

ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */

a {
  text-decoration: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */

/* Упрощаем работу с изображениями */

img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */

/* Указываем понятную периодичность в потоке данных у article*/

article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */

/* Наследуем шрифты для инпутов и кнопок */

input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */

img:not([alt]) {
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* ==================================================================*/

/* Remove all animations and transitions for people that prefer not to see them */

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */

@font-face {
  font-family: "MyIcons";
  font-display: swap;
  src: url("../fonts/MyIcons.woff") format("woff"), url("../fonts/MyIcons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "San Francisco Pro";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Regular.woff") format("woff"), url("../fonts/SFProDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "San Francisco Pro";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Semibold.woff") format("woff"), url("../fonts/SFProDisplay-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "San Francisco Pro";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Thin.woff") format("woff"), url("../fonts/SFProDisplay-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "San Francisco Pro";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Bold.woff") format("woff"), url("../fonts/SFProDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "San Francisco Pro";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Light.woff") format("woff"), url("../fonts/SFProDisplay-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "San Francisco Pro";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Medium.woff") format("woff"), url("../fonts/SFProDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "MyIcons";
  src: url("../../fonts/MyIcons.eot");
  src: url("../../fonts/MyIcons.eot?#iefix") format("eot"), url("../../fonts/MyIcons.woff2") format("woff2"), url("../../fonts/MyIcons.woff") format("woff"), url("../../fonts/MyIcons.ttf") format("truetype"), url("../../fonts/MyIcons.svg#MyIcons") format("svg");
}

.icon-arrow-right2:before,
.icon-clock:before,
.icon-envelop:before,
.icon-facebook-f-brands:before,
.icon-facebook-messenger-brands:before,
.icon-google-plus-g-brands:before,
.icon-graduation:before,
.icon-heart:before,
.icon-instagram-brands:before,
.icon-mobile:before,
.icon-pushpin:before,
.icon-quotes-right:before,
.icon-stats-bars:before,
.icon-telegram-brands:before,
.icon-twitter-brands:before,
.icon-user-check:before,
.icon-viber-brands:before {
  font-family: "MyIcons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

.icon-arrow-right2:before {
  content: "";
}

.icon-clock:before {
  content: "";
}

.icon-envelop:before {
  content: "";
}

.icon-facebook-f-brands:before {
  content: "";
}

.icon-facebook-messenger-brands:before {
  content: "";
}

.icon-google-plus-g-brands:before {
  content: "";
}

.icon-graduation:before {
  content: "";
}

.icon-heart:before {
  content: "";
}

.icon-instagram-brands:before {
  content: "";
}

.icon-mobile:before {
  content: "";
}

.icon-pushpin:before {
  content: "";
}

.icon-quotes-right:before {
  content: "";
}

.icon-stats-bars:before {
  content: "";
}

.icon-telegram-brands:before {
  content: "";
}

.icon-twitter-brands:before {
  content: "";
}

.icon-user-check:before {
  content: "";
}

.icon-viber-brands:before {
  content: "";
}

.fade-in {
  opacity: 0;
}

.fade-in._active {
  -webkit-animation: fade-in 1.4s both;
          animation: fade-in 1.4s both;
  opacity: 1;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.blink-1 {
  -webkit-animation: blink-1 3s infinite both;
          animation: blink-1 3s infinite both;
}

.blink-1:hover {
  -webkit-animation: none;
          animation: none;
}

@-webkit-keyframes blink-1 {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

@keyframes blink-1 {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

.focus-in-expand-fwd._active {
  -webkit-animation: focus-in-expand-fwd 2.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: focus-in-expand-fwd 2.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
            transform: translateZ(-800px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

@keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
            transform: translateZ(-800px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

/* 1. Если не поддерживает support: */

/* 2. Если поддерживает object-fit, overriding (1): */

@supports ((-o-object-fit: cover) or (object-fit: cover)) {
  video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.modal.open .modal__overlay,
.modal.open .modal__window {
  opacity: 1;
  z-index: 1000;
}

.modal.hide .modal__overlay,
.modal.hide .modal__window {
  opacity: 1;
  z-index: 1000;
}

.modal.open .modal__window {
  -webkit-transform: translateY(25px);
      -ms-transform: translateY(25px);
          transform: translateY(25px);
}

.modal.open .modal__overlay {
  background-color: rgba(0, 0, 0, 0.849);
  overflow-x: hidden;
}

.modal.hide .modal__window {
  -webkit-transform: translateY(-200px);
      -ms-transform: translateY(-200px);
          transform: translateY(-200px);
}

.modal.hede .modal__overlay {
  background-color: rgba(0, 0, 0, 0);
}

.modal__window,
.modal__overlay {
  opacity: 0;
  z-index: -1;
}

.modal__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: background-color 0.4s ease-in;
  -o-transition: background-color 0.4s ease-in;
  transition: background-color 0.4s ease-in;
}

.modal__window {
  margin: 0 auto;
  border-radius: 5px;
  background: #2c2c2c;
  color: #ffffff;
  -webkit-transform: translateY(-200px);
      -ms-transform: translateY(-200px);
          transform: translateY(-200px);
  -webkit-transition: -webkit-transform 0.4s ease-in;
  transition: -webkit-transform 0.4s ease-in;
  -o-transition: transform 0.4s ease-in;
  transition: transform 0.4s ease-in;
  transition: transform 0.4s ease-in, -webkit-transform 0.4s ease-in;
}

.modal__header {
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #91919159;
}

.modal__title {
  font-size: 1.5rem;
}

.modal__close {
  cursor: pointer;
  font-size: 20px;
}

.modal__close:hover {
  color: #ec0404;
}

.modal__body {
  padding: 10px;
}

.modal__footer {
  text-align: right;
  padding: 10px 20px;
}

.modal__footer .btn-danger,
.modal__footer .btn-primary {
  margin-left: 20px;
  padding: 0 10px;
  min-width: 100px;
  color: #000000;
}

.form__body {
  position: relative;
}

.form__body:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2c2c2cbb url("../../img/loading.gif") center/60px no-repeat;
  opacity: 0;
  visibility: hidden;
}

.form__body.__sending::after {
  opacity: 1;
  visibility: visible;
}

.form__contacts {
  color: #ffffff;
  padding: 20px;
  padding-bottom: 0;
  -webkit-box-shadow: 0 50px 50px #000000;
          box-shadow: 0 50px 50px #000000;
  border-radius: 5px;
}

.form__contacts h2.form__title {
  text-align: right;
}

.form__contacts .form__item:nth-child(2),
.form__contacts .form__item:nth-child(3),
.form__contacts .form__item:nth-child(4),
.form__contacts .form__item:nth-child(5) {
  display: inline-block;
}

.form__contacts input.form__input {
  margin-top: 20px;
  margin-right: 50px;
  padding: 5px;
  width: 250px;
  font-size: 18px;
  font-weight: 100;
  border: none;
  outline: none;
  background: transparent;
  color: #ffffff;
  border-bottom: 1px solid #ffffff9a;
}

.form__contacts input.form__input:focus {
  border-bottom: 1px solid #73ff00;
}

.form__contacts input.form__input.__error {
  border-bottom: 1px solid #ec0404;
}

.form__contacts div.select {
  padding-top: 1%;
}

.form__contacts select {
  width: 40%;
  margin: 1% 0;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ffffff9a;
  outline: none;
  color: #ffffff;
  background-color: #2c2c2c;
}

.form__contacts textarea {
  display: block;
  margin-left: auto;
  margin-top: 40px;
  width: 400px;
  height: 150px;
  background: transparent;
  resize: none;
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
  color: #ffffff;
}

.form__contacts textarea:focus {
  background-color: #ebebeb33;
  border-radius: 5px;
}

.form__contacts .mail-btn {
  position: relative;
  left: 10px;
  bottom: 50px;
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: none;
  outline: none;
  -webkit-appearance: none;
  font-weight: 100;
  font-size: 18px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-indent: 0.5rem;
  cursor: pointer;
  -webkit-transition: color 1.5s 0.5s, border 3s 1s;
  -o-transition: color 1.5s 0.5s, border 3s 1s;
  transition: color 1.5s 0.5s, border 3s 1s;
}

.form__contacts .mail-btn:before,
.form__contacts .mail-btn:after {
  content: "";
  position: absolute;
  opacity: 0;
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 400px;
          perspective: 400px;
  -webkit-transform-origin: 50% -50%;
      -ms-transform-origin: 50% -50%;
          transform-origin: 50% -50%;
  -webkit-transform: rotateX(360deg) rotateY(0) translateX(-50%) translateY(0) scale(0.2);
          transform: rotateX(360deg) rotateY(0) translateX(-50%) translateY(0) scale(0.2);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.form__contacts .mail-btn:before {
  top: 5px;
  left: 50%;
  height: 3rem;
  background: white;
  border-top: 2rem solid #2980b9;
  border-right: 3rem solid transparent;
  border-left: 3rem solid transparent;
}

.form__contacts .mail-btn:after {
  top: 0;
  left: 50%;
  border-top: 2rem solid white;
  border-right: 3rem solid transparent;
  border-left: 3rem solid transparent;
}

.form__contacts .mail-btn:hover {
  color: rgba(255, 255, 255, 0);
  border: 2px solid rgba(255, 255, 255, 0);
  -webkit-transition: color 0.25s, border 0.25s;
  -o-transition: color 0.25s, border 0.25s;
  transition: color 0.25s, border 0.25s;
}

.form__contacts .mail-btn:hover:before,
.form__contacts .mail-btn:hover:after {
  opacity: 1;
  -webkit-transform: rotateX(0) rotateY(-10deg) translateX(-50%) translateY(0) scale(1);
          transform: rotateX(0) rotateY(-10deg) translateX(-50%) translateY(0) scale(1);
}

.form__contacts .fly {
  color: rgba(255, 255, 255, 0);
  border: 2px solid rgba(255, 255, 255, 0);
  -webkit-animation: sended 4s 0.8s forwards;
          animation: sended 4s 0.8s forwards;
}

@-webkit-keyframes sended {
  0% {
    height: 2rem;
    width: 3.5rem;
    border-top: 0;
    border-right: 0;
    border-bottom: 10px solid white;
    border-left: 10px solid white;
    opacity: 0;
    -webkit-transform: rotate(-45deg) translateX(300%) translateY(-500%);
            transform: rotate(-45deg) translateX(300%) translateY(-500%);
  }

  5% {
    height: 2rem;
    width: 3.5rem;
    border-top: 0;
    border-right: 0;
    border-bottom: 10px solid white;
    border-left: 10px solid white;
    opacity: 1;
    -webkit-transform: rotate(-45deg) translateX(0) translateY(0);
            transform: rotate(-45deg) translateX(0) translateY(0);
  }

  78% {
    height: 2rem;
    width: 3.5rem;
    border-top: 0;
    border-right: 0;
    border-bottom: 10px solid white;
    border-left: 10px solid white;
    opacity: 1;
    -webkit-transform: rotate(-45deg) translateX(0) translateY(0);
            transform: rotate(-45deg) translateX(0) translateY(0);
  }

  79% {
    height: 2rem;
    width: 3.5rem;
    border-top: 0;
    border-right: 0;
    border-bottom: 10px solid white;
    border-left: 10px solid white;
    opacity: 0;
    -webkit-transform: rotate(-45deg) translateX(0) translateY(0);
            transform: rotate(-45deg) translateX(0) translateY(0);
  }

  80% {
    height: auto;
    width: auto;
    color: rgba(255, 255, 255, 0);
    border: 2px solid rgba(255, 255, 255, 0);
    opacity: 0;
    -webkit-transform: rotate(0) translateX(0) translateY(0);
            transform: rotate(0) translateX(0) translateY(0);
  }

  100% {
    height: auto;
    width: auto;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.5);
    opacity: 1;
    -webkit-transform: rotate(0) translateX(0) translateY(0);
            transform: rotate(0) translateX(0) translateY(0);
  }
}

@keyframes sended {
  0% {
    height: 2rem;
    width: 3.5rem;
    border-top: 0;
    border-right: 0;
    border-bottom: 10px solid white;
    border-left: 10px solid white;
    opacity: 0;
    -webkit-transform: rotate(-45deg) translateX(300%) translateY(-500%);
            transform: rotate(-45deg) translateX(300%) translateY(-500%);
  }

  5% {
    height: 2rem;
    width: 3.5rem;
    border-top: 0;
    border-right: 0;
    border-bottom: 10px solid white;
    border-left: 10px solid white;
    opacity: 1;
    -webkit-transform: rotate(-45deg) translateX(0) translateY(0);
            transform: rotate(-45deg) translateX(0) translateY(0);
  }

  78% {
    height: 2rem;
    width: 3.5rem;
    border-top: 0;
    border-right: 0;
    border-bottom: 10px solid white;
    border-left: 10px solid white;
    opacity: 1;
    -webkit-transform: rotate(-45deg) translateX(0) translateY(0);
            transform: rotate(-45deg) translateX(0) translateY(0);
  }

  79% {
    height: 2rem;
    width: 3.5rem;
    border-top: 0;
    border-right: 0;
    border-bottom: 10px solid white;
    border-left: 10px solid white;
    opacity: 0;
    -webkit-transform: rotate(-45deg) translateX(0) translateY(0);
            transform: rotate(-45deg) translateX(0) translateY(0);
  }

  80% {
    height: auto;
    width: auto;
    color: rgba(255, 255, 255, 0);
    border: 2px solid rgba(255, 255, 255, 0);
    opacity: 0;
    -webkit-transform: rotate(0) translateX(0) translateY(0);
            transform: rotate(0) translateX(0) translateY(0);
  }

  100% {
    height: auto;
    width: auto;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.5);
    opacity: 1;
    -webkit-transform: rotate(0) translateX(0) translateY(0);
            transform: rotate(0) translateX(0) translateY(0);
  }
}

.form__contacts .fly:before,
.form__contacts .fly:after {
  -webkit-animation: flyout 0.6s forwards;
          animation: flyout 0.6s forwards;
}

@-webkit-keyframes flyout {
  0% {
    opacity: 1;
    -webkit-transform: rotateX(0) rotateZ(0) translateX(-50%) translateY(0) scale(1);
            transform: rotateX(0) rotateZ(0) translateX(-50%) translateY(0) scale(1);
  }

  33% {
    opacity: 0.66;
    -webkit-transform: rotateX(0) rotateZ(-5deg) translateX(-100%) translateY(0) scale(1);
            transform: rotateX(0) rotateZ(-5deg) translateX(-100%) translateY(0) scale(1);
  }

  100% {
    opacity: 0;
    -webkit-transform: rotateX(0) rotateZ(0) translateX(1000%) translateY(0) scale(1);
            transform: rotateX(0) rotateZ(0) translateX(1000%) translateY(0) scale(1);
  }
}

@keyframes flyout {
  0% {
    opacity: 1;
    -webkit-transform: rotateX(0) rotateZ(0) translateX(-50%) translateY(0) scale(1);
            transform: rotateX(0) rotateZ(0) translateX(-50%) translateY(0) scale(1);
  }

  33% {
    opacity: 0.66;
    -webkit-transform: rotateX(0) rotateZ(-5deg) translateX(-100%) translateY(0) scale(1);
            transform: rotateX(0) rotateZ(-5deg) translateX(-100%) translateY(0) scale(1);
  }

  100% {
    opacity: 0;
    -webkit-transform: rotateX(0) rotateZ(0) translateX(1000%) translateY(0) scale(1);
            transform: rotateX(0) rotateZ(0) translateX(1000%) translateY(0) scale(1);
  }
}

.form__contacts .arrow {
  text-align: right;
}

.form__contacts .arrow span {
  padding-left: 20px;
  float: right;
}

.form__contacts .link__method {
  padding: 20px 65px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.6px;
}

.form__contacts .link__method:hover {
  text-decoration: underline;
}

.form__contacts .link__method span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 2px solid #73ff00;
  border-right: 2px solid #73ff00;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: -16px;
  -webkit-animation: arrow 2s infinite;
          animation: arrow 2s infinite;
}

.form__contacts .link__method span:nth-child(2) {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}

.form__contacts .link__method span:nth-child(3) {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

@-webkit-keyframes arrow {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-20px, -20px);
            transform: rotate(45deg) translate(-20px, -20px);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(20px, 20px);
            transform: rotate(45deg) translate(20px, 20px);
  }
}

@keyframes arrow {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-20px, -20px);
            transform: rotate(45deg) translate(-20px, -20px);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(20px, 20px);
            transform: rotate(45deg) translate(20px, 20px);
  }
}

.slider {
  position: relative;
  overflow: hidden;
  max-width: 59%;
  margin: 0 auto;
  padding: 30px 40px;
}

.slider__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  -o-transition: transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
}

.slider__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.slider__content {
  -webkit-box-shadow: 1px 1px 2px #000000;
          box-shadow: 1px 1px 2px #000000;
  padding: 30px 20px;
  border: none;
  border-bottom: 2px solid #0075ee;
}

.slider__content-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.slider__content-avatar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
          flex: 0 0 50px;
  border-radius: 50%;
  overflow: hidden;
  max-width: 50px;
  max-height: 50px;
}

.slider__content-photo {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.slider__content-author {
  margin-left: 60px;
  line-height: 2.5em;
  font-weight: 600;
}

.slider__content-reviews {
  text-align: left;
}

.slider__content-reviews p {
  font-style: italic;
}

.slider__content-reviews p:last-child {
  padding-top: 4%;
  font-weight: 700;
}

.slider__indicators {
  position: absolute;
  right: 0;
  top: -2%;
  left: 0;
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
  margin: 0 15% 0 15%;
  list-style: none;
}

.slider__indicators li {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 30px;
  height: 4px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #5e5e5e;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  -webkit-transition: opacity 0.6s ease;
  -o-transition: opacity 0.6s ease;
  transition: opacity 0.6s ease;
}

.slider__indicators li.active {
  opacity: 1;
}

.slider__control {
  position: absolute;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  color: #73ff00;
  text-align: center;
  background: #ffffff;
  z-index: 6;
}

.slider__control-left {
  left: 0;
}

.slider__control-right {
  right: 0;
}

.slider__control::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.slider__control-left::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23424242' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control-right::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23424242' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.header {
  position: relative;
  color: #ffffff;
  min-height: 100vh;
  padding-bottom: 56.25%;
  /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
  overflow: hidden;
  height: 0;
  z-index: 3;
}

.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header a {
  color: #ffffff;
}

.header video {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: -2;
  -o-object-fit: cover;
     object-fit: cover;
}

.header:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.header .wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1% 2% 0% 2%;
}

.header__logo {
  text-shadow: 10px 3px 6px #000000;
}

.header__logo-link {
  color: #ffffff;
  font-size: 2.5vw;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 700;
}

.header__logo-link span.icon-graduation {
  font-size: 3vw;
}

.header__contact {
  font-size: 1.2vw;
  font-weight: 500;
  letter-spacing: normal;
}

.header__contact-mail {
  padding-right: 2em;
}

.header__contact span {
  font-size: 1.5vw;
  padding-right: 0.4em;
}

.header__social {
  font-size: 1.5vw;
}

.header__social-list {
  padding-right: 0.5em;
}

.header__contents {
  text-align: center;
}

.header__contents-title {
  padding-top: 1em;
  margin: 0 auto;
  line-height: 1;
  font-size: 3vw;
  max-width: 90%;
}

.header__contents-btn {
  padding: 4em;
}

.header__contents-btn-sms {
  border: 0.1vw solid #ffffff;
  padding: 1.5% 2%;
  border-radius: 3vw;
  font-size: 1.6vw;
  font-weight: 700;
  text-shadow: 4px 6px 13px #2b2b318e;
}

.header__contents-btn-sms span {
  color: #ffee00;
}

.header__contents-btn-sms:hover {
  background-color: #ffffff79;
  -webkit-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
  color: #ffee00;
}

.header__contents-text {
  font-weight: 600;
  font-size: 1.6vw;
  padding-bottom: 3em;
}

.header__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
}

.header__footer-blocks1,
.header__footer-blocks2,
.header__footer-blocks3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 220px;
  height: 120px;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  text-align: center;
  font-weight: 500;
  font-size: 1.1em;
  margin: 1%;
}

.header__footer-blocks1::before,
.header__footer-blocks2::before,
.header__footer-blocks3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 1px;
  background-color: #fff;
  display: inline-block;
}

.header__footer-blocks1::after,
.header__footer-blocks2::after,
.header__footer-blocks3::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 1px;
  background-color: #fff;
  display: inline-block;
}

.header__footer-blocks1,
.header__footer-blocks2,
.header__footer-blocks3 {
  position: relative;
}

.header__footer-blocks1 span,
.header__footer-blocks2 span,
.header__footer-blocks3 span {
  position: absolute;
  top: -25%;
  text-align: center;
  font-size: 6vh;
}

/* ======================================================= */

.menu {
  /* ======================================================= */
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  /* ======================================================= */
  /* шапка плашки  */
  /* ======================================================= */
  /* BURGER */
}

.menu:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  z-index: 2;
}

.menu__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.menu__logo {
  color: #000000;
  font-size: 3vw;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  z-index: 3;
}

.menu__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 3;
}

.menu__nav-list li {
  margin: 0 0 0 14vh;
}

.menu__nav-link {
  color: #000000;
  font-size: 1.3vw;
  font-weight: 500;
}

.menu__burger {
  display: none;
}

/* ======================================================= */

.method {
  min-height: 100vh;
}

.method__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 100%;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.method__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10%;
}

.method__content-title {
  padding-right: 60px;
  font-size: 2em;
  text-transform: uppercase;
}

.method__content-bg-text,
.method__content-bg-text2 {
  position: absolute;
  right: 10%;
  font-size: 38vw;
  font-weight: 700;
  color: #a7a6a648;
}

.method__content-bg-text2 {
  display: none;
}

.method__content-text {
  max-width: 55%;
  padding-top: 6%;
  text-align: left;
  font-size: 1.1em;
}

.method .timeline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding-top: 12%;
  padding-bottom: 8%;
}

.method .timeline__menu {
  width: 371px;
}

.method .timeline__menu-contents {
  text-align: right;
  max-height: 50px;
  overflow: hidden;
}

.method .timeline__menu-contents h3 {
  padding-top: 12px;
  padding-bottom: 12px;
  cursor: pointer;
}

.method .timeline__menu-contents h3 span {
  padding-right: 5px;
  opacity: 0;
}

.method .timeline__menu-contents .number {
  display: none;
  text-align: left;
  font-size: 2.8em;
  font-weight: 700;
  padding-left: 10%;
  color: #949393;
  cursor: pointer;
}

.method .timeline__menu-contents.is-open {
  max-height: 40%;
  -webkit-transition: 0.5s ease 0s;
  -o-transition: 0.5s ease 0s;
  transition: 0.5s ease 0s;
}

.method .timeline__menu-contents.active:before {
  content: "";
  position: absolute;
  left: 401px;
  width: 2px;
  height: 100%;
  background: #ec0404;
}

.method .timeline__menu-contents.active h3 {
  font-weight: 700;
  font-size: 1.5em;
  color: #ec0404;
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.method .timeline__menu-contents.active h3:after {
  background: #273164;
}

.method .timeline__menu-contents.active span {
  opacity: 1;
  -webkit-transition: 1s ease 0s;
  -o-transition: 1s ease 0s;
  transition: 1s ease 0s;
}

.method .timeline__menu ul {
  list-style: none;
  padding: 0;
}

.method .timeline__menu ul li {
  position: relative;
  padding-bottom: 30px;
}

.method .timeline__menu ul li h3:after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  top: -1px;
  right: -10.5%;
  border-radius: 50%;
  background: #ffff00;
  -webkit-box-shadow: 0 0 0 3px #42b3cf2a;
          box-shadow: 0 0 0 3px #42b3cf2a;
}

.method .timeline__menu ul:before {
  content: "";
  position: absolute;
  left: 401px;
  width: 2px;
  height: 65%;
  background: #c5c5c5;
}

.method .timeline__sections-contents {
  max-width: 60%;
}

.method .timeline__sections-contents h3 {
  padding-bottom: 8px;
}

.method .timeline__sections-contents h3 span.icon-pushpin {
  padding-right: 5px;
  color: #0075ee;
}

.method .timeline__sections-contents p {
  padding-bottom: 8px;
}

.method .timeline__sections-contents.active {
  opacity: 1;
}

.info {
  background: url("./../../img/bg.jpg") center/cover no-repeat;
  min-height: 100vh;
  position: relative;
  z-index: -2;
  padding: 16% 0;
}

.info:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.info__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info .info__content {
  max-width: 100%;
  position: absolute;
  top: 30%;
  left: 40%;
  -webkit-transform: translate(-35%, -35%);
      -ms-transform: translate(-35%, -35%);
          transform: translate(-35%, -35%);
  color: #ffffff;
  text-align: center;
}

.info .info__content-title {
  font-size: 2em;
  text-transform: uppercase;
}

.info .info__content-text {
  font-size: 1.3em;
}

.info .info__content-text p {
  padding: 6% 3%;
}

.courses {
  background-color: #f8f8f8;
  min-height: 100vh;
  padding-top: 8%;
  padding-bottom: 8%;
  position: relative;
}

.courses__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 100%;
  margin: 0 auto;
}

.courses .yellow-square {
  position: absolute;
  top: -16%;
  left: 0;
  width: 600px;
  height: 400px;
  background-color: #e2b41c;
}

.courses .yellow-square h2.corses__title {
  color: #ffffff;
  text-align: center;
  font-size: 6vh;
  padding-top: 12%;
}

.courses__contents {
  display: grid;
  grid-template: repeat(auto-fit, 390px)/repeat(auto-fit, 300px);
  gap: 2.5vh;
  justify-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.courses .card {
  position: relative;
  width: 300px;
  height: 390px;
  background-color: #ffffff;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 38em;
          perspective: 38em;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0 20px 20px -20px #333;
          box-shadow: 0 20px 20px -20px #333;
  overflow: hidden;
  cursor: pointer;
}

.courses .card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.courses .card__front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.courses .card__front:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.courses .card__front h2,
.courses .card__front p {
  text-align: center;
  color: #ffffff;
  position: absolute;
  z-index: 2;
}

.courses .card__front h2 {
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -30%);
      -ms-transform: translate(-50%, -30%);
          transform: translate(-50%, -30%);
  font-size: 2em;
  line-height: 1em;
}

.courses .card__front p {
  top: 80%;
  left: 20%;
  -webkit-transform: translate(-20%, -80%);
      -ms-transform: translate(-20%, -80%);
          transform: translate(-20%, -80%);
  border: 2px solid #ffffff;
  padding: 10px 20px;
}

.courses .card__front p span.icon-arrow-right2 {
  position: absolute;
  top: -4px;
  right: -60px;
  font-size: 2em;
}

.courses .card__front .border__green {
  border: 2px solid green;
}

.courses .card__front .border__yellow {
  border: 2px solid yellow;
}

.courses .card__front .border__blue {
  border: 2px solid #00aced;
}

.courses .card__front .border__red {
  border: 2px solid #ec0404;
}

.courses .card__front-line {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 200px;
  -webkit-transform: translate(-50%, -60%);
      -ms-transform: translate(-50%, -60%);
          transform: translate(-50%, -60%);
  z-index: 100;
  border: 1px solid #ffffff;
}

.courses .card.is-flipped .card__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.courses .card__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d8d8d8;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.courses .card__back .card__detals {
  position: absolute;
  top: 5%;
  width: 95%;
  padding-left: 1em;
  font-weight: 300;
}

.courses .card__back .card__detals h2 {
  color: #0099ff;
  font-size: 1.4em;
  text-align: center;
}

.courses .card__back .card__detals ul {
  padding: 0;
}

.courses .card__back .card__detals ul li {
  position: relative;
  letter-spacing: 1px;
  padding-left: 10px;
  list-style-type: none;
}

.courses .card__back .card__detals ul li:before {
  content: "-";
  padding-right: 4%;
  position: absolute;
  left: 0;
  top: 0;
}

.courses .card.is-flipped .card__back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.reviews {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 4em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.reviews__body .method__content-bg-text {
  position: absolute;
  top: 85%;
  right: 10%;
  font-size: 16em;
  font-weight: 700;
  color: #a7a6a648;
}

.reviews__content {
  margin-left: 8em;
}

.reviews__content-text {
  max-width: 70%;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
}

.reviews__content span.icon-quotes-right {
  font-size: 2.5em;
}

.footer {
  background-color: #f8f8f8;
  padding: 8% 2% 2% 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__title-left {
  word-spacing: 0.2em;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-right: 30%;
}

.footer__title-right {
  padding-right: 10%;
}

.footer .footer__content-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__content-info img.maps {
  display: block;
  width: 600px;
}

.footer .footer__content-info a {
  color: #000000;
  font-weight: 600;
}

.footer .footer__content-info .footer__contact-items {
  padding: 0 0 2em 0;
}

.footer .footer__content-info .footer__contact-items li {
  padding: 2% 0 2% 0;
}

.footer .footer__content-info .footer__contact-items li a span {
  display: block;
}

.footer .footer__content-info .footer__contact-social-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__content-info .footer__contact-social-items li {
  padding-right: 6%;
}

.footer .footer__content-info .footer__contact-social-items li a {
  font-size: 2vw;
}

.footer .footer__content-info .footer__contact-maneger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__content-info .footer__contact-maneger-avatar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
  border-radius: 50%;
  overflow: hidden;
  max-width: 3.8em;
  max-width: 60px;
  max-height: 60px;
}

.footer .footer__content-info .footer__contact-maneger-name-consultant {
  line-height: 1.5em;
  font-weight: 700;
  padding-left: 1.5em;
}

.footer .footer__content-info .footer__contact-maneger-name-consultant strong {
  display: block;
  font-weight: 300;
}

.footer__copyright {
  padding: 0% 0% 0% 0%;
  text-align: center;
}

body {
  font-family: "San Francisco Pro";
  font-size: 1em;
  overflow-wrap: break-word;
  color: #000000;
}

body {
  height: 100%;
}

body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

body main .header__body,
body main .menu__body,
body main .method__body,
body main .reviews__body,
body main .courses__body,
body main .footer__body {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (min-width: 320px) {
  .slider {
    max-width: 100%;
  }

  .slider__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }

  .slider__content-author {
    margin-left: 10px;
  }

  .slider__content-header {
    display: block;
  }

  .slider__content-reviews {
    text-align: center;
  }
}

@media (min-width: 576px) {
  .slider {
    padding: 20px 30px;
  }

  .slider__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .slider {
    max-width: 100%;
  }

  .slider__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

@media (min-width: 1200px) {
  .slider {
    max-width: 60%;
  }

  .slider__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
    max-width: 70%;
  }

  .slider__content-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 992px) {
  .method .timeline__menu {
    width: 371px;
  }

  .method .timeline__menu-contents h3 {
    text-align: center;
    padding: 8px 10% 0px 8px;
  }

  .method .timeline__menu-contents.active:before {
    left: 92.5%;
  }

  .method .timeline__menu ul li h3:after {
    top: 0;
    left: 91%;
  }

  .method .timeline__menu ul:before {
    left: 36%;
    height: 60%;
  }

  .reviews__body {
    display: block;
  }

  .reviews__content {
    margin-left: 1em;
  }

  .footer .footer__content-info img.maps {
    display: block;
    width: 550px;
  }
}

@media (max-width: 767px) {
  .form__contacts label:nth-child(6),
  .form__contacts label:nth-child(7),
  .form__contacts label:nth-child(8) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .form__contacts label:nth-child(6) input,
  .form__contacts label:nth-child(7) input,
  .form__contacts label:nth-child(8) input {
    width: 60%;
  }

  .slider {
    max-width: 100%;
  }

  .header__logo-link {
    display: block;
    font-size: 2.5vw;
  }

  .header__logo-link span.icon-graduation {
    font-size: 4vw;
  }

  .header__contact {
    padding: 1em 0 1em 0;
    font-size: 2vw;
  }

  .header__contact-mail {
    padding-right: 1em;
  }

  .header__contact span {
    font-size: 2.5vw;
    padding-right: 0.4em;
  }

  .header__social {
    font-size: 2vw;
  }

  .header__contents-title {
    padding-top: 4%;
    font-size: 4vw;
    max-width: 100%;
  }

  .header__contents-btn {
    padding: 2em;
  }

  .header__contents-btn-sms {
    padding: 2% 2%;
    font-size: 2.5vw;
  }

  .header__contents-btn-sms:hover {
    color: #ffee00;
  }

  .header__contents-text {
    font-size: 2.6vw;
    padding: 0 1em;
    max-width: 80%;
  }

  .header__footer {
    padding-top: 12%;
  }

  .header__footer-blocks1,
  .header__footer-blocks2,
  .header__footer-blocks3 {
    max-width: 200px;
    max-height: 100px;
    font-size: 1em;
  }

  .header__footer-blocks1 span,
  .header__footer-blocks2 span,
  .header__footer-blocks3 span {
    top: -35%;
    font-size: 2em;
  }

  .header__footer-blocks1::before,
  .header__footer-blocks2::before,
  .header__footer-blocks3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 35%;
    height: 1px;
    background-color: #fff;
    display: inline-block;
  }

  .header__footer-blocks1::after,
  .header__footer-blocks2::after,
  .header__footer-blocks3::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 35%;
    height: 1px;
    background-color: #fff;
    display: inline-block;
  }

  /* ======================================================= */

  /* замок от скрола при активном меню бургера */

  body.lock {
    overflow: hidden;
  }

  .menu {
    position: fixed;
    /* ======================================================= */
    /* отрисовка бургера */
    /* ======================================================= */
    /* стилизация меню */
  }

  .menu__content {
    height: 60px;
  }

  .menu:before {
    content: "";
    background-color: transparent;
  }

  .menu__logo {
    display: none;
  }

  .menu__burger {
    display: block;
    position: relative;
    top: 56%;
    right: -90%;
    width: 30px;
    height: 20px;
    z-index: 3;
    /* ======================================================= */
    /* отрисовка при классе актив изменение на крестик */
  }

  .menu__burger span {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    -webkit-box-shadow: 2px 2px 4px #000000;
            box-shadow: 2px 2px 4px #000000;
  }

  .menu__burger:before,
  .menu__burger:after {
    content: "";
    background-color: #ffffff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    -webkit-box-shadow: 2px 2px 4px #000000;
            box-shadow: 2px 2px 4px #000000;
  }

  .menu__burger:before {
    top: 0;
  }

  .menu__burger:after {
    bottom: 0;
  }

  .menu__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }

  .menu__burger.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
    background-color: #000000;
  }

  .menu__burger.active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
    background-color: #000000;
  }

  .menu .menu__nav {
    position: fixed;
    /* убрал фон меню на минус 100% */
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: white;
    background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(47%, #f6f6f6), to(#ededed));
    background: -o-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
    background: linear-gradient(to bottom, white 0%, #f6f6f6 47%, #ededed 100%);
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    /* ======================================================= */
    /* стилизация меню  при классе актив*/
  }

  .menu .menu__nav.active {
    top: 0;
  }

  .menu .menu__nav-list {
    display: block;
    padding-top: 16%;
  }

  .menu .menu__nav-list li {
    margin: 0px 0px 20px 0px;
    padding: 20px 0px 0px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 3% 0;
  }

  .menu .menu__nav-link {
    font-size: 1.5em;
    font-weight: 700;
  }

  .method__content-text {
    max-width: 66%;
  }

  .method .timeline__menu {
    width: 371px;
  }

  .method .timeline__menu-contents h3 {
    text-align: left;
    padding: 8px 0px 0px 8px;
  }

  .method .timeline__menu-contents.active:before {
    left: 0px;
  }

  .method .timeline__menu ul li h3:after {
    top: 0;
    left: -6px;
  }

  .method .timeline__menu ul:before {
    left: 0px;
  }

  .contents-item-video {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;
  }

  .contents-item-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .info .info__content {
    max-width: 100%;
    position: relative;
    top: 0%;
    left: 0%;
    -webkit-transform: translate(0%, 0%);
        -ms-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    padding-top: 6%;
  }

  .info .info__content-title {
    font-size: 2.5em;
  }

  .info .info__content-text {
    max-width: 700px;
    font-size: 1.6em;
  }

  .info .info__content-text p {
    padding: 4% 3%;
  }

  .courses .yellow-square {
    top: -20.5%;
    left: 50%;
    -webkit-transform: translate(-50%, 20%);
        -ms-transform: translate(-50%, 20%);
            transform: translate(-50%, 20%);
    max-width: 100%;
  }

  .courses .yellow-square h2.corses__title {
    color: #ffffff;
    text-align: center;
    font-size: 3em;
    padding-top: 8%;
  }

  .courses .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .reviews__body .method__content-bg-text {
    top: 102%;
    left: 12%;
    font-size: 5em;
  }

  .reviews__body {
    display: block;
  }

  .reviews__content {
    margin-left: 4em;
  }

  .footer__title-left {
    font-size: 1em;
    word-spacing: 0em;
    letter-spacing: 0em;
  }

  .footer__title-right {
    padding-right: 8%;
  }

  .footer .footer__content-info img.maps {
    width: 370px;
  }

  .footer .footer__content-info .footer__contact-social-items li a {
    font-size: 3vw;
  }

  .footer .footer__content-info .footer__contact-maneger-name-consultant {
    line-height: 1em;
    padding-left: 0.5em;
  }
}

@media (max-width: 576px) {
  .form__contacts label:nth-child(6),
  .form__contacts label:nth-child(7),
  .form__contacts label:nth-child(8) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .form__contacts label:nth-child(6) input,
  .form__contacts label:nth-child(7) input,
  .form__contacts label:nth-child(8) input {
    width: 80%;
  }

  .header .wrapp {
    display: block;
  }

  .header__logo {
    display: inline-block;
  }

  .header__logo-link {
    display: block;
    font-size: 2em;
  }

  .header__logo-link span.icon-graduation {
    font-size: 1em;
  }

  .header__contact {
    padding-top: 6%;
    font-size: 1.1em;
  }

  .header__contact-mail {
    padding-right: 1vh;
  }

  .header__contact span {
    font-size: 0.8em;
  }

  .header__social {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5em;
  }

  .header__contents-title {
    padding-top: 14%;
    font-size: 1.5em;
    max-width: 100%;
    letter-spacing: 1px;
    line-height: 28px;
  }

  .header__contents-btn {
    padding: 16%;
  }

  .header__contents-btn-sms {
    padding: 7% 6%;
    font-size: 1.4em;
    border-radius: 8vw;
  }

  .header__contents-text {
    font-size: 1.5em;
    font-weight: 300;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    letter-spacing: 0px;
    line-height: 28px;
  }

  .header__footer {
    display: none;
  }

  .method__content {
    display: block;
  }

  .method__content-title {
    text-align: center;
    padding-right: 0px;
    font-size: 1.5em;
  }

  .method__content-text {
    margin: 0 auto;
    text-align: center;
    max-width: 100%;
    font-size: 1.2em;
    letter-spacing: 0.1px;
  }

  .method__content-bg-text {
    top: 30%;
    right: 30%;
    -webkit-transform: translate(-30%, -30%);
        -ms-transform: translate(-30%, -30%);
            transform: translate(-30%, -30%);
  }

  .method__content-bg-text2 {
    display: block;
    top: 64%;
    right: -10%;
    -webkit-transform: translate(-18%, -16%);
        -ms-transform: translate(-18%, -16%);
            transform: translate(-18%, -16%);
  }

  .method .timeline__menu {
    width: 371px;
  }

  .method .timeline__menu-contents h3 {
    display: none;
  }

  .method .timeline__menu-contents .number {
    display: block;
  }

  .method .timeline__menu-contents .number:after {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    top: 0;
    left: -6px;
    border-radius: 50%;
    background: #ffff00;
    -webkit-box-shadow: 0 0 0 3px #42b3cf2a;
            box-shadow: 0 0 0 3px #42b3cf2a;
  }

  .method .timeline__menu-contents.active .number {
    color: #273164;
    font-size: 4.5em;
  }

  .method .timeline__menu-contents.active:before {
    left: 0px;
  }

  .method .timeline__menu-contents.active .number:after {
    background: #273164;
  }

  .method .timeline__menu ul:before {
    left: 0px;
    height: 80%;
  }

  .info .info__content-title {
    margin: 0 auto;
    font-size: 1.5em;
  }

  .info .info__content-text {
    max-width: 700px;
    font-size: 1.2em;
  }

  .info .info__content-text p {
    padding: 4% 3%;
  }

  .courses .yellow-square {
    top: -11.5%;
    max-width: 80%;
    height: 300px;
    left: 25%;
  }

  .courses .yellow-square h2.corses__title {
    padding-top: 10%;
    font-size: 2.5em;
  }

  .reviews__body .method__content-bg-text {
    top: 102%;
    left: 24%;
    font-size: 3.4em;
  }

  .reviews__content {
    margin-left: 5%;
  }

  .reviews__content-text {
    max-width: 100%;
  }

  .footer__title {
    display: block;
    text-align: center;
  }

  .footer__title-left {
    padding-right: 0%;
  }

  .footer__title-right {
    padding-right: 0%;
  }

  .footer .footer__content-info {
    display: block;
    position: relative;
  }

  .footer .footer__content-info .footer__contact-items {
    padding: 1.5% 0 1.5% 0;
  }

  .footer .footer__content-info .footer__contact-items li {
    padding: 1%;
  }

  .footer .footer__content-info .footer__contact-maneger {
    position: absolute;
    top: 62%;
    left: 52%;
  }

  .footer .footer__content-info .footer__contact-social-items {
    padding-bottom: 1.5%;
  }

  .footer .footer__content-info .footer__contact-social-items li {
    padding-right: 2.5%;
  }

  .footer .footer__content-info .footer__contact-social-items li a {
    font-size: 1.5em;
  }
}

@media (max-width: 320px) {
  .form__contacts label:nth-child(6),
  .form__contacts label:nth-child(7),
  .form__contacts label:nth-child(8) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .form__contacts label:nth-child(6) input,
  .form__contacts label:nth-child(7) input,
  .form__contacts label:nth-child(8) input {
    width: 95%;
  }

  .header {
    max-width: none;
  }

  .header__logo-link {
    font-size: 1.5em;
  }

  .header__logo-link span.icon-graduation {
    font-size: 0.7em;
  }

  .header__contact {
    padding: 1em 0 1em 0;
    font-size: 0.9em;
  }

  .header__contact span {
    font-size: 1em;
    padding-right: 0.4em;
  }

  .header__social {
    font-size: 1.2em;
  }

  .header__contents-title {
    padding-top: 10%;
    font-size: 1.6em;
  }

  .header__contents-btn {
    padding: 16%;
  }

  .header__contents-btn-sms {
    padding: 6% 6%;
    font-size: 1.2em;
  }

  .header__contents-text {
    font-size: 1.1em;
    padding: 0 3%;
  }

  .menu__burger {
    top: 35%;
  }

  .method .timeline__menu ul:before {
    height: 84%;
  }

  .info .info__content-title {
    width: 266px;
  }

  .courses .yellow-square {
    margin-top: 50px;
    top: -12.5%;
    max-width: 60%;
    height: 300px;
    left: 25%;
  }

  .courses .yellow-square h2.corses__title {
    padding-top: 8%;
    font-size: 2.2em;
  }

  .courses .card {
    margin-top: 8%;
  }

  .reviews__body .method__content-bg-text {
    display: none;
  }

  .reviews__content {
    margin-left: 0%;
  }

  .reviews__content-text {
    max-width: 100%;
  }

  .footer .footer__content-info .footer__contact-maneger {
    position: static;
  }

  .footer .footer__content-info .footer__contact-social-items li a {
    font-size: 1.2em;
  }
}

@media (min-aspect-ratio: 16 / 9) {
  video {
    height: 100%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16 / 9) {
  video {
    width: 100%;
  }
}

.webp .info{ background: url(./../../img/bg.webp) center/cover no-repeat; }